In [1]:
import pandas as pd
df = pd.read_csv("Resources/Red.xls")
df

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016
...,...,...,...,...,...,...,...,...
8661,6th Sense Syrah 2016,United States,Lodi,Michael David Winery,3.8,994,16.47,2016
8662,Botrosecco Maremma Toscana 2016,Italy,Maremma Toscana,Le Mortelle,4.0,995,20.09,2016
8663,Haut-Médoc 2010,France,Haut-Médoc,Château Cambon La Pelouse,3.7,996,23.95,2010
8664,Shiraz 2019,Australia,South Eastern Australia,Yellow Tail,3.5,998,6.21,2019
8665,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,3.4,999,7.88,2016

In [2]:
df = df[df.Year != "N.V."]
df = df.drop(columns = "NumberOfRatings")

In [3]:
df.to_csv('scraped_Red.csv', index=False)

In [4]:

Counrty_dummies = pd.get_dummies(df["Country"])
Region_dummies = pd.get_dummies(df["Region"])
Winery_dummies = pd.get_dummies(df["Winery"])
empty_df = df.drop(columns=["Name", "Country", "Region", "Winery"])

In [5]:
df_scaled = pd.concat([empty_df, Region_dummies, Counrty_dummies, Winery_dummies], axis =1)
df_scaled.head()

,Rating,Price,Year,'Rosso & Bianco' Shiraz 2016,(B) Old Vine Zinfandel Lodi 2017,1 Uno Primitivo di Manduria 2018,1 Uno Primitivo di Manduria Riserva 2016,10 Barricas 2015,1000X Cabernet - Merlot 2012,12 Meses en Barrica Crianza 2016,...,a6mani,d'Arenberg,de Gras,de Ladoucette,di Lenardo,Ànima Negra,Álvaro Palacios,Áster,Ökonomierat Rebholz,Κτημα Τσελεπου (Ktima Tselepos)
0,4.2,95.00,2011,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.3,15.50,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.9,7.45,2015,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.5,8.72,2019,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.9,29.15,2016,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [7]:
from sklearn.model_selection import train_test_split
X = df_scaled.drop(columns="Rating")
y = df_scaled["Rating"]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [8]:
model.fit(X, y)

LinearRegression()

In [9]:
LinearRegression()

LinearRegression()

In [10]:
predicted_y_values = model.predict(X)

In [11]:
copy_df = df.copy()

In [12]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
score = model.score(X, y, sample_weight=None)
r2 = r2_score(y, predicted_y_values)
mse = mean_squared_error(y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(y)

# Print releveant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.9873095614458213.
The r2 is 0.9873095614458213.
The mean squared error is 0.0012070861541874556.
The root mean squared error is 0.03474314542737107.
The standard deviation is 0.3084116812980253.

In [ ]:
Region_ratings = df.groupby("Region")["Rating"].mean()
Region_ratings

In [2]:
Year_ratings = df.groupby("Year")["Rating"].mean()
Year_ratings

Year
1988    4.300000
1989    4.550000
1990    4.400000
1991    4.400000
1992    4.300000
1993    4.500000
1995    4.175000
1996    4.100000
1997    4.328571
1998    4.233333
1999    4.293333
2000    4.252632
2001    4.116667
2002    4.314286
2003    4.209091
2004    4.162963
2005    4.141558
2006    4.204545
2007    4.051163
2008    4.087500
2009    4.084524
2010    4.093103
2011    4.016187
2012    4.001078
2013    3.984752
2014    3.912782
2015    3.929513
2016    3.888851
2017    3.809820
2018    3.692630
2019    3.658621
N.V.    4.100000
Name: Rating, dtype: float64

In [ ]:
import matplotlib.pyplot as plt
plot_pandas = Year_ratings.plot.bar(color='maroon')
plt.title("Red Wine Average Vintage Rating")
plt.xlabel('Vintage')
plt.ylabel('Average Rating')
plt.ylim(3, 5)
plt.show()

In [4]:
Rating_price = df.groupby("Rating")["Price"].mean()
Rating_price

Rating
2.5      7.895000
2.6     11.500000
2.7      9.120000
2.8      9.308000
2.9     11.575000
3.0      8.052963
3.1      8.128333
3.2      8.829551
3.3      9.669728
3.4      9.685709
3.5     10.346792
3.6     11.929907
3.7     14.341831
3.8     18.059778
3.9     23.990402
4.0     30.403105
4.1     39.644171
4.2     55.206178
4.3     73.122360
4.4    116.589236
4.5    214.460604
4.6    325.397308
4.7    542.820714
4.8    650.786667
Name: Price, dtype: float64

In [ ]:
import seaborn as sns
plt.figure(figsize=(13,5))

graph = sns.regplot(x=np.log(df['Price']), y='Rating', 
                    data=df, fit_reg=False, color='maroon')
graph.set_title("Red Wine Rating by Price Distribuition", fontsize=20)
graph.set_xlabel("Price", fontsize= 15)
graph.set_ylabel("Rating", fontsize= 15)
graph.set_xticklabels(np.exp(graph.get_xticks()).astype(int))
plt.savefig('Red_Price.png')
plt.show()

In [ ]:
Country_ratings = df.groupby("Country")["Rating"].mean()

In [ ]:
Country_price = df.groupby("Country")["Price"].mean()